content/apidokumentasjon/regnskapsregisteret/dokumentasjon-datamodeller-og-designmaler/RR-0011-Begrenset/Datamodeller/RR-0011_6199-51520.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://schema.brreg.no/regnsys/aarsregnskap_begr" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schema.brreg.no/regnsys/aarsregnskap_begr" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>
			<xs:attribute name="domenenavn" fixed="Regnskapsregisteret"/>
			<xs:attribute name="modellnavn" fixed="RR0011H_M"/>
		</xs:documentation>
	</xs:annotation>
	<xs:element name="melding" type="RR0011H_M"/>
	<xs:complexType name="RR0011H_M">
		<xs:sequence>
			<xs:element name="Innsender" type="Innsender"/>
			<xs:element name="Skjemainnhold" type="Skjemainnhold"/>
		</xs:sequence>
		<xs:attribute name="dataFormatId" type="xs:string" use="required" fixed="6199"/>
		<xs:attribute name="dataFormatVersion" type="xs:string" use="required" fixed="51521"/>
		<xs:attribute name="tjenestehandling" type="xs:string" use="required" fixed="aarsregnskap_begr"/>
		<xs:attribute name="tjeneste" type="xs:string" use="required" fixed="regnskap"/>
		<xs:anyAttribute/>
	</xs:complexType>
	<xs:complexType name="Innsender">
		<xs:sequence>
			<xs:element name="enhet" type="Enhet"/>
			<xs:element name="kontaktperson" type="Kontaktperson" minOccurs="0" maxOccurs="10"/>
			<xs:element name="opplysningerInnsending" type="OpplysningerInnsending"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Enhet">
		<xs:sequence>
			<xs:element name="organisasjonsnummer" type="Organisasjonsnummer"/>
			<xs:element name="organisasjonsform" type="Organisasjonsform"/>
			<xs:element name="navn" type="Navn"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Organisasjonsnummer">
		<xs:simpleContent>
			<xs:extension base="HeltallNi">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Organisasjonsform">
		<xs:simpleContent>
			<xs:extension base="TekstTrettifemTegn">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="756"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Navn">
		<xs:simpleContent>
			<xs:extension base="TekstHundreOgSyttifemTegn">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="1"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Kontaktperson">
		<xs:sequence>
			<xs:element name="e-post" type="KontaktpersonEPost" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KontaktpersonEPost">
		<xs:simpleContent>
			<xs:extension base="TekstSyttiTegn">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="19022"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="OpplysningerInnsending">
		<xs:sequence>
			<xs:element name="avviklingsregnskap" type="Avviklingsregnskap" minOccurs="0"/>
			<xs:element name="systemNavn" type="SystemNavn"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Avviklingsregnskap">
		<xs:simpleContent>
			<xs:extension base="Boolean">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="40314"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SystemNavn">
		<xs:simpleContent>
			<xs:extension base="TekstFemtiTegn">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="39007"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Skjemainnhold">
		<xs:sequence>
			<xs:element name="regnskapsperiode" type="Regnskapsperiode"/>
			<xs:element name="konsern" type="Konsern"/>
			<xs:element name="fastsettelse" type="Fastsettelse"/>
			<xs:element name="tilleggsopplysninger" type="Tilleggsopplysninger"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Regnskapsperiode">
		<xs:sequence>
			<xs:element name="regnskapsaar" type="Regnskapsaar"/>
			<xs:element name="regnskapsstartdato" type="Regnskapsstartdato"/>
			<xs:element name="regnskapssluttdato" type="Regnskapssluttdato"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Regnskapsaar">
		<xs:simpleContent>
			<xs:extension base="Tekst">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="17102"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Regnskapsstartdato">
		<xs:simpleContent>
			<xs:extension base="Dato">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="17103"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Regnskapssluttdato">
		<xs:simpleContent>
			<xs:extension base="Dato">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="17104"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Konsern">
		<xs:sequence>
			<xs:element name="morselskap" type="Morselskap"/>
			<xs:element name="konsernregnskapVedlegg" type="KonsernregnskapVedlegg" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Morselskap">
		<xs:simpleContent>
			<xs:extension base="SvarJaNei">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="4168"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KonsernregnskapVedlegg">
		<xs:simpleContent>
			<xs:extension base="SvarJaNei">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="25943"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Fastsettelse">
		<xs:sequence>
			<xs:element name="fastsettelsedato" type="FastsettelseDato"/>
			<xs:element name="bekreftendeRepresentant" type="BekreftendeRepresentant"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FastsettelseDato">
		<xs:simpleContent>
			<xs:extension base="Dato">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="17105"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="BekreftendeRepresentant">
		<xs:simpleContent>
			<xs:extension base="TekstSyttiTegn">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="19023"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Tilleggsopplysninger">
		<xs:sequence>
			<xs:element name="regnskapsreglerSmaaForetak" type="RegnskapsreglerSmaaForetak"/>
			<xs:element name="antallAarsverk" type="AntallAarsverk"/>
			<xs:element name="usikkerhetDrift" type="UsikkerhetDrift" minOccurs="0"/>
			<xs:element name="usikkerhetDriftFritekst" type="UsikkerhetDriftFritekst" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegnskapsreglerSmaaForetak">
		<xs:simpleContent>
			<xs:extension base="SvarJaNei">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="8079"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AntallAarsverk">
		<xs:simpleContent>
			<xs:extension base="DesimaltallNiTo">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="37467"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="UsikkerhetDrift">
		<xs:simpleContent>
			<xs:extension base="SvarJaNei">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="37443"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="UsikkerhetDriftFritekst">
		<xs:simpleContent>
			<xs:extension base="TekstSyttiTegn">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="37444"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="HeltallNi">
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TekstTrettifemTegn">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TekstHundreOgSyttifemTegn">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="175"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TekstFemtiTegn">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tekst">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Dato">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="SvarJaNei">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ja"/>
			<xs:enumeration value="nei"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DesimaltallNiTo">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="9"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Boolean">
		<xs:restriction base="xs:string">
			<xs:enumeration value="true"/>
			<xs:enumeration value="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TekstSyttiTegn">
		<xs:restriction base="xs:string">
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
