content/apidokumentasjon/regnskapsregisteret/dokumentasjon-datamodeller-og-designmaler/RR-0009-Friv/Datamodeller/RR-0009_3373-47615.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://schema.brreg.no/regnsys/aarsregnskap_friv" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schema.brreg.no/regnsys/aarsregnskap_friv" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>
			<xs:attribute name="domenenavn" fixed="Regnskapsregisteret"/>
			<xs:attribute name="modellnavn" fixed="RR0009H_M"/>
		</xs:documentation>
	</xs:annotation>
	<xs:element name="melding" type="RR0009H_M"/>
	<xs:complexType name="RR0009H_M">
		<xs:sequence>
			<xs:element name="RapportRR-0009" type="RapportRR-0009"/>
			<xs:element name="SkjemainnholdRR-0009" type="SkjemainnholdRR-0009"/>
		</xs:sequence>
		<xs:attribute name="dataFormatId" type="xs:string" use="required" fixed="3373"/>
		<xs:attribute name="dataFormatVersion" type="xs:string" use="required" fixed="47615"/>
		<xs:attribute name="tjenestehandling" type="xs:string" use="required" fixed="aarsregnskap_friv"/>
		<xs:attribute name="tjeneste" type="xs:string" use="required" fixed="regnskap"/>
		<xs:anyAttribute/>
	</xs:complexType>
	<xs:complexType name="RapportRR-0009">
		<xs:sequence>
			<xs:element name="rapporteringsenhet" type="Enhet"/>
			<xs:element name="kontaktperson" type="Kontaktperson" minOccurs="0" maxOccurs="10"/>
			<xs:element name="regnskapsperiode" type="Regnskapsperiode"/>
			<xs:element name="aarsregnskap" type="AArsregnskap"/>
			<xs:element name="fastsettelse" type="Fastsettelse"/>
			<xs:element name="opplysningerInnsending" type="OpplysningerInnsending"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Enhet">
		<xs:sequence>
			<xs:element name="organisasjonsnummer" type="EnhetOrganisasjonsnummer"/>
			<xs:element name="organisasjonsform" type="EnhetOrganisasjonsform"/>
			<xs:element name="navn" type="EnhetNavn"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnhetOrganisasjonsnummer">
		<xs:simpleContent>
			<xs:extension base="HeltallNi">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnhetOrganisasjonsform">
		<xs:simpleContent>
			<xs:extension base="TekstTrettiFemTegn">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="756"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnhetNavn">
		<xs:simpleContent>
			<xs:extension base="TekstHundreOgSyttiFemTegn">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="1"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Kontaktperson">
		<xs:sequence>
			<xs:element name="e-post" type="KontaktpersonEPost" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KontaktpersonEPost">
		<xs:simpleContent>
			<xs:extension base="TekstSyttiTegn">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="19022"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="OpplysningerInnsending">
		<xs:sequence>
			<xs:element name="avviklingsregnskap" type="Avviklingsregnskap" minOccurs="0"/>
			<xs:element name="systemNavn" type="SystemNavn"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Avviklingsregnskap">
		<xs:simpleContent>
			<xs:extension base="Boolean">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="40314"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SystemNavn">
		<xs:simpleContent>
			<xs:extension base="TekstFemtiTegn">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="39007"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Regnskapsperiode">
		<xs:sequence>
			<xs:element name="regnskapsaar" type="RegnskapAr"/>
			<xs:element name="regnskapsstart" type="RegnskapStartdato"/>
			<xs:element name="regnskapsslutt" type="RegnskapAvslutningsdato"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegnskapAr">
		<xs:simpleContent>
			<xs:extension base="Tekst">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="17102"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="RegnskapStartdato">
		<xs:simpleContent>
			<xs:extension base="Dato">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="17103"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="RegnskapAvslutningsdato">
		<xs:simpleContent>
			<xs:extension base="Dato">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="17104"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AArsregnskap">
		<xs:sequence>
			<xs:element name="valoer" type="Valoer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Valoer">
		<xs:simpleContent>
			<xs:extension base="ArsregnskapValoer">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="28974"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Fastsettelse">
		<xs:sequence>
			<xs:element name="fastsettelsesdato" type="RegnskapFastsettelseDato"/>
			<xs:element name="bekreftendeSelskapsrepresentant" type="StyremedlemNavnSpesifisertStyremedlem"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegnskapFastsettelseDato">
		<xs:simpleContent>
			<xs:extension base="Dato">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="17105"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="StyremedlemNavnSpesifisertStyremedlem">
		<xs:simpleContent>
			<xs:extension base="TekstSyttiTegn">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="19023"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SkjemainnholdRR-0009">
		<xs:sequence>
			<xs:element name="resultatregnskap" type="Resultatregnskap"/>
			<xs:element name="balanseEiendelerAnleggsmidler" type="BalanseEiendelerAnleggsmidler" minOccurs="0"/>
			<xs:element name="balanseEiendelerOmloepsmidler" type="BalanseEiendelerOmloepsmidler"/>
			<xs:element name="balanseEgenkapital" type="BalanseEgenkapital" minOccurs="0"/>
			<xs:element name="balanseGjeld" type="BalanseGjeld"/>
			<xs:element name="posterUtenomBalansen" type="PosterUtenomBalansen" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Resultatregnskap">
		<xs:sequence>
			<xs:element name="aarsresultat" type="AArsresultat"/>
			<xs:element name="anskaffedeMidler" type="AnskaffedeMidler" minOccurs="0"/>
			<xs:element name="forbrukteMidler" type="ForbrukteMidler" minOccurs="0"/>
			<xs:element name="tilleggReduksjonEgenkapital" type="TilleggReduksjonEgenkapital" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AArsresultat">
		<xs:sequence>
			<xs:element name="note" type="NoteArsresultat" minOccurs="0"/>
			<xs:element name="aarets" type="Arsresultat"/>
			<xs:element name="fjoraarets" type="ArsresultatFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteArsresultat">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18265"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Arsresultat">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="172"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ArsresultatFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7054"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AnskaffedeMidler">
		<xs:sequence>
			<xs:element name="medlemsinntekter" type="Medlemsinntekter" minOccurs="0"/>
			<xs:element name="tilskudd" type="Tilskudd" minOccurs="0"/>
			<xs:element name="innsamledeMidler" type="InnsamledeMidlerGaver" minOccurs="0"/>
			<xs:element name="inntektOperasjonellAktivitet" type="InntektOperasjonelleAktiviteter" minOccurs="0"/>
			<xs:element name="finansinntekter" type="Finansinntekter" minOccurs="0"/>
			<xs:element name="andreInntekter" type="AndreInntekter" minOccurs="0"/>
			<xs:element name="sumAnskaffedeMidler" type="SumAnskaffedeMidler" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Medlemsinntekter">
		<xs:sequence>
			<xs:element name="note" type="NoteMedlemsinntekter" minOccurs="0"/>
			<xs:element name="aarets" type="MedlemsinntekterAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="MedlemsinntekterFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteMedlemsinntekter">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30319"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MedlemsinntekterAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30320"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MedlemsinntekterFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30321"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Tilskudd">
		<xs:sequence>
			<xs:element name="note" type="NoteTilskudd" minOccurs="0"/>
			<xs:element name="aarets" type="TilskuddOffentligAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="TilskuddOffentligFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteTilskudd">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30310"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TilskuddOffentligAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30311"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TilskuddOffentligFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30312"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InnsamledeMidlerGaver">
		<xs:sequence>
			<xs:element name="note" type="NoteMidlerGaverInnsamlede" minOccurs="0"/>
			<xs:element name="aarets" type="MidlerGaverInnsamledeAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="MidlerGaverInnsamledeFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteMidlerGaverInnsamlede">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30313"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MidlerGaverInnsamledeAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30314"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MidlerGaverInnsamledeFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30315"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InntektOperasjonelleAktiviteter">
		<xs:sequence>
			<xs:element name="note" type="NoteInntektOperasjonelleAktiviteter" minOccurs="0"/>
			<xs:element name="aarets" type="InntektOperasjonelleAktiviteterAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="InntektOperasjonelleAktiviteterFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteInntektOperasjonelleAktiviteter">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30304"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InntektOperasjonelleAktiviteterAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30305"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InntektOperasjonelleAktiviteterFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30306"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Finansinntekter">
		<xs:sequence>
			<xs:element name="note" type="NoteFinansinntekter" minOccurs="0"/>
			<xs:element name="aarets" type="FinansinntekterAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="FinansinntekterFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteFinansinntekter">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18546"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FinansinntekterAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="153"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FinansinntekterFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7993"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AndreInntekter">
		<xs:sequence>
			<xs:element name="note" type="NoteInntektAnnen" minOccurs="0"/>
			<xs:element name="aarets" type="InntektAnnenAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="InntektAnnenFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteInntektAnnen">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30307"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InntektAnnenAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30308"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InntektAnnenFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30309"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumAnskaffedeMidler">
		<xs:sequence>
			<xs:element name="note" type="NoteMidlerAnskaffede" minOccurs="0"/>
			<xs:element name="aarets" type="MidlerAnskaffedeAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="MidlerAnskaffedeFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteMidlerAnskaffede">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30316"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MidlerAnskaffedeAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30317"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MidlerAnskaffedeFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30318"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ForbrukteMidler">
		<xs:sequence>
			<xs:element name="kostnaderKnyttetTilAnskaffedeMidler" type="KostnaderAnskaffelseMidler" minOccurs="0"/>
			<xs:element name="kostnaderKnyttetTilOrganisasjonensFormaal" type="KostnaderOrganisasjonensFormaal" minOccurs="0"/>
			<xs:element name="administrasjonskostnader" type="Administrasjonskostnader" minOccurs="0"/>
			<xs:element name="sumForbrukteMidler" type="SumForbrukteMidler" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KostnaderAnskaffelseMidler">
		<xs:sequence>
			<xs:element name="note" type="NoteKostnadAnskaffelseAvMidler" minOccurs="0"/>
			<xs:element name="aarets" type="KostnadAnskaffelseAvMidlerAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="KostnadAnskaffelseAvMidlerFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteKostnadAnskaffelseAvMidler">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30806"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KostnadAnskaffelseAvMidlerAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30807"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KostnadAnskaffelseAvMidlerFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30808"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KostnaderOrganisasjonensFormaal">
		<xs:sequence>
			<xs:element name="note" type="NoteKostnadOrganisasjonensFormal" minOccurs="0"/>
			<xs:element name="aarets" type="KostnadOrganisasjonensFormalAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="KostnadOrganisasjonensFormalFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteKostnadOrganisasjonensFormal">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30809"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KostnadOrganisasjonensFormalAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30810"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KostnadOrganisasjonensFormalFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30811"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Administrasjonskostnader">
		<xs:sequence>
			<xs:element name="note" type="NoteKostnaderAdministrative" minOccurs="0"/>
			<xs:element name="aarets" type="KostnaderAdministrativeAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="KostnaderAdministrativeFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteKostnaderAdministrative">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="27924"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KostnaderAdministrativeAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="27926"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KostnaderAdministrativeFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="27928"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumForbrukteMidler">
		<xs:sequence>
			<xs:element name="note" type="NoteMidlerForbrukte" minOccurs="0"/>
			<xs:element name="aarets" type="MidlerForbrukteAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="MidlerForbrukteFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteMidlerForbrukte">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30812"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MidlerForbrukteAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30813"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MidlerForbrukteFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30814"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TilleggReduksjonEgenkapital">
		<xs:sequence>
			<xs:element name="grunnkapital" type="GrunnkapitalResultatregnskap" minOccurs="0"/>
			<xs:element name="annenEgenkapital" type="AnnenEgenkapitalResultatregnskap" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GrunnkapitalResultatregnskap">
		<xs:sequence>
			<xs:element name="note" type="NoteGrunnkapitalResultatregnskap" minOccurs="0"/>
			<xs:element name="aarets" type="GrunnkapitalResultatregnskapAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="GrunnkapitalResultatregnskapFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteGrunnkapitalResultatregnskap">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30815"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GrunnkapitalResultatregnskapAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30816"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GrunnkapitalResultatregnskapFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30817"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AnnenEgenkapitalResultatregnskap">
		<xs:sequence>
			<xs:element name="note" type="NoteEgenkapitalResultatregnskapAnnen" minOccurs="0"/>
			<xs:element name="aarets" type="EgenkapitalResultatregnskapAnnenAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="EgenkapitalAnnenResultatregnskapFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteEgenkapitalResultatregnskapAnnen">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30825"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EgenkapitalResultatregnskapAnnenAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30826"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EgenkapitalAnnenResultatregnskapFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30827"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="BalanseEiendelerAnleggsmidler">
		<xs:sequence>
			<xs:element name="immaterielleEiendeler" type="ImmaterielleEiendeler" minOccurs="0"/>
			<xs:element name="bevaringsverdigeEiendeler" type="BevaringsverdigeEiendeler" minOccurs="0"/>
			<xs:element name="andreDriftsmidler" type="OversiktAndreDriftsmidler" minOccurs="0"/>
			<xs:element name="finansielleAnleggsmidler" type="FinansielleAnleggsmidler" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImmaterielleEiendeler">
		<xs:sequence>
			<xs:element name="konsesjonerPatenterLisenser" type="KonsesjonerPatenterLisenser" minOccurs="0"/>
			<xs:element name="goodwill" type="Goodwill" minOccurs="0"/>
			<xs:element name="sumImmaterielleEiendeler" type="SumImmaterielleEiendeler" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KonsesjonerPatenterLisenser">
		<xs:sequence>
			<xs:element name="note" type="NotePatenterRettigheter" minOccurs="0"/>
			<xs:element name="aarets" type="PatenterRettigheterAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="PatenterRettigheterFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NotePatenterRettigheter">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18560"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PatenterRettigheterAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="205"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PatenterRettigheterFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7075"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Goodwill">
		<xs:sequence>
			<xs:element name="note" type="NoteForretningsverdiGoodwill" minOccurs="0"/>
			<xs:element name="aarets" type="ForretningsverdiGoodwillAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="ForretningsverdiGoodwillFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteForretningsverdiGoodwill">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18183"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ForretningsverdiGoodwillAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="206"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ForretningsverdiGoodwillFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7077"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumImmaterielleEiendeler">
		<xs:sequence>
			<xs:element name="note" type="NoteEiendelerImmaterielle" minOccurs="0"/>
			<xs:element name="aarets" type="EiendelerImmaterielleAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="EiendelerImmaterielleFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteEiendelerImmaterielle">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18180"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EiendelerImmaterielleAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="2400"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EiendelerImmaterielleFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="8006"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="BevaringsverdigeEiendeler">
		<xs:sequence>
			<xs:element name="fastEiendom" type="FastEiendom" minOccurs="0"/>
			<xs:element name="driftsloesoere" type="Driftsloesoere" minOccurs="0"/>
			<xs:element name="sumBevaringsverdigeMidler" type="SumBevaringsverdigeMidler" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FastEiendom">
		<xs:sequence>
			<xs:element name="note" type="NoteFastEiendom" minOccurs="0"/>
			<xs:element name="aarets" type="FastEiendomAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="FastEiendomFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteFastEiendom">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18178"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FastEiendomAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="1976"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FastEiendomFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="8007"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Driftsloesoere">
		<xs:sequence>
			<xs:element name="note" type="NoteKjoretoyInventarVerktoyMv" minOccurs="0"/>
			<xs:element name="aarets" type="KjoretoyInventarVerktoyMvAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="KjoretoyInventarVerktoyMvFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteKjoretoyInventarVerktoyMv">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18562"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KjoretoyInventarVerktoyMvAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7725"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KjoretoyInventarVerktoyMvFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="8009"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumBevaringsverdigeMidler">
		<xs:sequence>
			<xs:element name="note" type="NoteDriftsmidlerVarige" minOccurs="0"/>
			<xs:element name="aarets" type="DriftsmidlerVarigeAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="DriftsmidlerVarigeFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteDriftsmidlerVarige">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18176"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DriftsmidlerVarigeAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="47"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DriftsmidlerVarigeFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="8010"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="OversiktAndreDriftsmidler">
		<xs:sequence>
			<xs:element name="andreDriftsmidler" type="AndreDriftsmidler" minOccurs="0"/>
			<xs:element name="sumAndreDriftsmidler" type="SumAndreDriftsmidler" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AndreDriftsmidler">
		<xs:sequence>
			<xs:element name="note" type="NoteDriftsmidlerAndre" minOccurs="0"/>
			<xs:element name="aarets" type="DriftsmidlerAndreAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="DriftsmidlerAndreFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteDriftsmidlerAndre">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18177"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DriftsmidlerAndreAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="2836"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DriftsmidlerAndreFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7088"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumAndreDriftsmidler">
		<xs:sequence>
			<xs:element name="note" type="NoteSumDriftsmidlerAndre" minOccurs="0"/>
			<xs:element name="aarets" type="SumDriftsmidlerAndre" minOccurs="0"/>
			<xs:element name="fjoraarets" type="SumDriftsmidlerAndreFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteSumDriftsmidlerAndre">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30979"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumDriftsmidlerAndre">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30980"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumDriftsmidlerAndreFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30981"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FinansielleAnleggsmidler">
		<xs:sequence>
			<xs:element name="inversteringerIAksjerOgAndeler" type="InvesteringAksjerAndeler" minOccurs="0"/>
			<xs:element name="andreFordringer" type="AndreFordringer" minOccurs="0"/>
			<xs:element name="sumFinansielleAnleggsmidler" type="SumFinansielleAnleggsmidler" minOccurs="0"/>
			<xs:element name="sumAnleggsmidler" type="SumAnleggsmidler" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvesteringAksjerAndeler">
		<xs:sequence>
			<xs:element name="note" type="NoteInvesteringerAksjerAndeler" minOccurs="0"/>
			<xs:element name="aarets" type="InvesteringerAksjerAndelerAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="InvesteringerAksjerAndelerFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteInvesteringerAksjerAndeler">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18568"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InvesteringerAksjerAndelerAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7100"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InvesteringerAksjerAndelerFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7101"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AndreFordringer">
		<xs:sequence>
			<xs:element name="note" type="NoteFordringerAndreLangsiktige" minOccurs="0"/>
			<xs:element name="aarets" type="FordringerAndreLangsiktigeAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="FordringerAndreLangsiktigeFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteFordringerAndreLangsiktige">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="27578"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FordringerAndreLangsiktigeAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="203"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FordringerAndreLangsiktigeFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="27585"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumFinansielleAnleggsmidler">
		<xs:sequence>
			<xs:element name="note" type="NoteAnleggsmidlerFinansielle" minOccurs="0"/>
			<xs:element name="aarets" type="AnleggsmidlerFinansielleAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="AnleggsmidlerFinansielleFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteAnleggsmidlerFinansielle">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18372"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AnleggsmidlerFinansielleAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="5267"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AnleggsmidlerFinansielleFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="8014"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumAnleggsmidler">
		<xs:sequence>
			<xs:element name="note" type="NoteAnleggsmidler" minOccurs="0"/>
			<xs:element name="aarets" type="AnleggsmidlerAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="AnleggsmidlerFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteAnleggsmidler">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18570"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AnleggsmidlerAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="217"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AnleggsmidlerFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7108"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="BalanseEiendelerOmloepsmidler">
		<xs:sequence>
			<xs:element name="lagerbeholdning" type="OversiktLagerbeholdning" minOccurs="0"/>
			<xs:element name="fordringer" type="Fordringer" minOccurs="0"/>
			<xs:element name="investeringer" type="Investeringer" minOccurs="0"/>
			<xs:element name="bankinnskuddKontanter" type="OversiktBankinnskuddKontanter" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OversiktLagerbeholdning">
		<xs:sequence>
			<xs:element name="lagerbeholdning" type="Lagerbeholdning" minOccurs="0"/>
			<xs:element name="sumLagerbeholdning" type="SumLagerbeholdning" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Lagerbeholdning">
		<xs:sequence>
			<xs:element name="note" type="NoteLagerbeholdning" minOccurs="0"/>
			<xs:element name="aarets" type="LagerbeholdningAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="LagerbeholdningFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteLagerbeholdning">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30822"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LagerbeholdningAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30823"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LagerbeholdningFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30824"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumLagerbeholdning">
		<xs:sequence>
			<xs:element name="note" type="NoteSumLagerbeholdning" minOccurs="0"/>
			<xs:element name="aarets" type="SumLagerbeholdningAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="SumLagerbeholdningFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteSumLagerbeholdning">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18571"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumLagerbeholdningAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="326"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumLagerbeholdningFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="797"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Fordringer">
		<xs:sequence>
			<xs:element name="andreFordringer" type="FordringerAndre" minOccurs="0"/>
			<xs:element name="sumFordringer" type="SumFordringer" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FordringerAndre">
		<xs:sequence>
			<xs:element name="note" type="NoteFordringerAndreKortsiktig" minOccurs="0"/>
			<xs:element name="aarets" type="FordringerAndreKortsiktigAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="FordringerAndreKortsiktigFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteFordringerAndreKortsiktig">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18572"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FordringerAndreKortsiktigAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="282"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FordringerAndreKortsiktigFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7112"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumFordringer">
		<xs:sequence>
			<xs:element name="note" type="NoteFordringer" minOccurs="0"/>
			<xs:element name="aarets" type="FordringerAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="FordringerFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteFordringer">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18389"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FordringerAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="80"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FordringerFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="8015"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Investeringer">
		<xs:sequence>
			<xs:element name="markedsbaserteAksjer" type="MarkedsbaserteAksjer" minOccurs="0"/>
			<xs:element name="andreFinansielleInstrumenter" type="AndreFinansielleInstrumenter" minOccurs="0"/>
			<xs:element name="sumInvesteringer" type="SumInvesteringer" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarkedsbaserteAksjer">
		<xs:sequence>
			<xs:element name="note" type="NoteAksjerMvMarkedsbaserte" minOccurs="0"/>
			<xs:element name="aarets" type="AksjerMvMarkedsbaserteAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="AksjerMvMarkedsbaserteFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteAksjerMvMarkedsbaserte">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18575"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AksjerMvMarkedsbaserteAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7117"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AksjerMvMarkedsbaserteFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7118"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AndreFinansielleInstrumenter">
		<xs:sequence>
			<xs:element name="note" type="NoteFinansielleInstrumenterAndre" minOccurs="0"/>
			<xs:element name="aarets" type="FinansielleInstrumenterAndreAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="FinansielleInstrumenterAndreFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteFinansielleInstrumenterAndre">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18578"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FinansielleInstrumenterAndreAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="6429"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FinansielleInstrumenterAndreFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7123"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumInvesteringer">
		<xs:sequence>
			<xs:element name="note" type="NoteInvesteringer" minOccurs="0"/>
			<xs:element name="aarets" type="InvesteringerAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="InvesteringerFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteInvesteringer">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18579"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InvesteringerAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="6601"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InvesteringerFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="8018"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="OversiktBankinnskuddKontanter">
		<xs:sequence>
			<xs:element name="bankinnskuddKontanter" type="BankinnskuddKontanter" minOccurs="0"/>
			<xs:element name="sumBankinnskuddKontanter" type="SumBankinnskuddKontanter" minOccurs="0"/>
			<xs:element name="sumOmloepsmidler" type="SumOmloepsmidler" minOccurs="0"/>
			<xs:element name="sumEiendeler" type="SumEiendeler"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankinnskuddKontanter">
		<xs:sequence>
			<xs:element name="note" type="NoteKontanterBankinnskudd" minOccurs="0"/>
			<xs:element name="aarets" type="KontanterBankinnskuddAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="KontanterBankinnskuddFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteKontanterBankinnskudd">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18390"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KontanterBankinnskuddAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="786"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KontanterBankinnskuddFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="8019"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumBankinnskuddKontanter">
		<xs:sequence>
			<xs:element name="note" type="NoteKontanterBankinnskuddSum" minOccurs="0"/>
			<xs:element name="aarets" type="KontanterBankinnskuddSumAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="KontanterBankinnskuddSumFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteKontanterBankinnskuddSum">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="29041"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KontanterBankinnskuddSumAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="29042"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KontanterBankinnskuddSumFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="29043"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumOmloepsmidler">
		<xs:sequence>
			<xs:element name="note" type="NoteOmlopsmidler" minOccurs="0"/>
			<xs:element name="aarets" type="OmlopsmidlerAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="OmlopsmidlerFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteOmlopsmidler">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18580"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="OmlopsmidlerAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="194"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="OmlopsmidlerFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7126"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumEiendeler">
		<xs:sequence>
			<xs:element name="note" type="NoteEiendeler" minOccurs="0"/>
			<xs:element name="aarets" type="EiendelerAret"/>
			<xs:element name="fjoraarets" type="EiendelerFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteEiendeler">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18167"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EiendelerAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="219"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EiendelerFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7127"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="BalanseEgenkapital">
		<xs:sequence>
			<xs:element name="grunnkapital" type="OversiktGrunnkapitalBalanse" minOccurs="0"/>
			<xs:element name="opptjentEgenkapital" type="OpptjentEgenkapitalBalanse" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OversiktGrunnkapitalBalanse">
		<xs:sequence>
			<xs:element name="grunnkapital" type="GrunnkapitalBalanse" minOccurs="0"/>
			<xs:element name="annenInnskuttEgenkapital" type="AnnenInnskuttEgenkapitalBalanse" minOccurs="0"/>
			<xs:element name="sumInnskuttEgenkapital" type="SumInnskuttEgenkapitalBalanse" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GrunnkapitalBalanse">
		<xs:sequence>
			<xs:element name="note" type="NoteGrunnkapitalBalanse" minOccurs="0"/>
			<xs:element name="aarets" type="GrunnkapitalBalanseAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="GrunnkapitalBalanseFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteGrunnkapitalBalanse">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30819"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GrunnkapitalBalanseAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30820"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GrunnkapitalBalanseFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="30821"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AnnenInnskuttEgenkapitalBalanse">
		<xs:sequence>
			<xs:element name="note" type="NoteInnskuttKapitalAnnen" minOccurs="0"/>
			<xs:element name="aarets" type="InnskuttKapitalAnnenAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="InnskuttKapitalAnnenFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteInnskuttKapitalAnnen">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18131"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InnskuttKapitalAnnenAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="17110"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InnskuttKapitalAnnenFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="17111"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumInnskuttEgenkapitalBalanse">
		<xs:sequence>
			<xs:element name="note" type="NoteInnskuttKapital" minOccurs="0"/>
			<xs:element name="aarets" type="InnskuttKapitalAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="InnskuttKapitalFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteInnskuttKapital">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18130"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InnskuttKapitalAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="3730"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InnskuttKapitalFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="9984"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="OpptjentEgenkapitalBalanse">
		<xs:sequence>
			<xs:element name="annenOpptjentEgenkapital" type="OpptjentEgenkapitalAnnen" minOccurs="0"/>
			<xs:element name="sumOpptjentEgenkapital" type="SumOpptjentEgenkapital" minOccurs="0"/>
			<xs:element name="sumEgenkapital" type="SumEgenkapital" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OpptjentEgenkapitalAnnen">
		<xs:sequence>
			<xs:element name="note" type="NoteOpptjentEgenkapitalAnnen" minOccurs="0"/>
			<xs:element name="aarets" type="OpptjentEgenkapitalAnnenAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="OpptjentEgenkapitalAnnenFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteOpptjentEgenkapitalAnnen">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18125"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="OpptjentEgenkapitalAnnenAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="3274"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="OpptjentEgenkapitalAnnenFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7140"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumOpptjentEgenkapital">
		<xs:sequence>
			<xs:element name="note" type="NoteSumOpptjentEgenkapital" minOccurs="0"/>
			<xs:element name="aarets" type="SumOpptjentEgenkapitalAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="SumOpptjentEgenkapitalFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteSumOpptjentEgenkapital">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18124"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumOpptjentEgenkapitalAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="9702"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumOpptjentEgenkapitalFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="9985"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumEgenkapital">
		<xs:sequence>
			<xs:element name="note" type="NoteEgenkapital" minOccurs="0"/>
			<xs:element name="aarets" type="EgenkapitalAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="EgenkapitalFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteEgenkapital">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18123"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EgenkapitalAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="250"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EgenkapitalFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7142"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="BalanseGjeld">
		<xs:sequence>
			<xs:element name="avsetningerForForpliktelser" type="AvsetningerForForpliktelser" minOccurs="0"/>
			<xs:element name="annenLangsiktigGjeld" type="AnnenLangsiktigGjeld" minOccurs="0"/>
			<xs:element name="kortsiktigGjeld" type="KortsiktigGjeld" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AvsetningerForForpliktelser">
		<xs:sequence>
			<xs:element name="pensjonsforpliktelser" type="Pensjonsforpliktelser" minOccurs="0"/>
			<xs:element name="andreAvsetninger" type="AndreAvsetninger" minOccurs="0"/>
			<xs:element name="sumAvsetninger" type="SumAvsetninger" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Pensjonsforpliktelser">
		<xs:sequence>
			<xs:element name="note" type="NotePensjonsforpliktelser" minOccurs="0"/>
			<xs:element name="aarets" type="PensjonsforpliktelserAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="PensjonsforpliktelserFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NotePensjonsforpliktelser">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18149"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PensjonsforpliktelserAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="238"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PensjonsforpliktelserFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="6685"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AndreAvsetninger">
		<xs:sequence>
			<xs:element name="note" type="NoteAvsetningerForpliktelserLangsiktig" minOccurs="0"/>
			<xs:element name="aarets" type="AvsetningerForpliktelserLangsiktigAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="AvsetningerForpliktelserLangsiktigFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteAvsetningerForpliktelserLangsiktig">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18582"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AvsetningerForpliktelserLangsiktigAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7157"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AvsetningerForpliktelserLangsiktigFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7146"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumAvsetninger">
		<xs:sequence>
			<xs:element name="note" type="NoteAvsetningerForpliktelser" minOccurs="0"/>
			<xs:element name="aarets" type="AvsetningerForpliktelserAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="AvsetningerForpliktelserFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteAvsetningerForpliktelser">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18144"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AvsetningerForpliktelserAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7231"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AvsetningerForpliktelserFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7230"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AnnenLangsiktigGjeld">
		<xs:sequence>
			<xs:element name="oevrigLangsiktigGjeld" type="OEvrigLangsiktigGjeld" minOccurs="0"/>
			<xs:element name="sumAnnenLangsiktigGjeld" type="SumAnnenLangsiktigGjeld" minOccurs="0"/>
			<xs:element name="sumLangsiktigGjeld" type="SumLangsiktigGjeld" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OEvrigLangsiktigGjeld">
		<xs:sequence>
			<xs:element name="note" type="NoteGjeldAnnenLangsiktig" minOccurs="0"/>
			<xs:element name="aarets" type="GjeldAnnenLangsiktigAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="GjeldAnnenLangsiktigFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteGjeldAnnenLangsiktig">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18584"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GjeldAnnenLangsiktigAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="242"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GjeldAnnenLangsiktigFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7155"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumAnnenLangsiktigGjeld">
		<xs:sequence>
			<xs:element name="note" type="NoteGjeldAnnenLangsiktigSum" minOccurs="0"/>
			<xs:element name="aarets" type="GjeldAnnenLangsiktigSumAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="GjeldAnnenLangsiktigSumFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteGjeldAnnenLangsiktigSum">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="25018"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GjeldAnnenLangsiktigSumAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="25019"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GjeldAnnenLangsiktigSumFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="25020"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumLangsiktigGjeld">
		<xs:sequence>
			<xs:element name="note" type="NoteGjeldLangsiktig" minOccurs="0"/>
			<xs:element name="aarets" type="GjeldLangsiktigAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="GjeldLangsiktigFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteGjeldLangsiktig">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18585"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GjeldLangsiktigAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="86"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GjeldLangsiktigFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7156"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KortsiktigGjeld">
		<xs:sequence>
			<xs:element name="leverandoergjeld" type="Leverandoergjeld" minOccurs="0"/>
			<xs:element name="skyldigOffentligeAvgifter" type="SkyldigOffentligeAvgifter" minOccurs="0"/>
			<xs:element name="annenKortsiktigGjeld" type="AnnenKortsiktigGjeld" minOccurs="0"/>
			<xs:element name="sumKortsiktigGjeld" type="SumKortsiktigGjeld" minOccurs="0"/>
			<xs:element name="sumGjeld" type="SumGjeld" minOccurs="0"/>
			<xs:element name="sumEgenkapitalOgGjeld" type="SumEgenkapitalOgGjeld"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Leverandoergjeld">
		<xs:sequence>
			<xs:element name="note" type="NoteLeverandorgjeld" minOccurs="0"/>
			<xs:element name="aarets" type="LeverandorgjeldAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="LeverandorgjeldFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteLeverandorgjeld">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18588"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LeverandorgjeldAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="220"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LeverandorgjeldFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7162"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SkyldigOffentligeAvgifter">
		<xs:sequence>
			<xs:element name="note" type="NoteAvgifterOffentligeSkyldig" minOccurs="0"/>
			<xs:element name="aarets" type="AvgifterOffentligeSkyldigAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="AvgifterOffentligeSkyldigFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteAvgifterOffentligeSkyldig">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18590"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AvgifterOffentligeSkyldigAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="225"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AvgifterOffentligeSkyldigFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7170"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AnnenKortsiktigGjeld">
		<xs:sequence>
			<xs:element name="note" type="NoteGjeldAnnenKortsiktig" minOccurs="0"/>
			<xs:element name="aarets" type="GjeldAnnenKortsiktigAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="GjeldAnnenKortsiktigFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteGjeldAnnenKortsiktig">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18592"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GjeldAnnenKortsiktigAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="236"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GjeldAnnenKortsiktigFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7182"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumKortsiktigGjeld">
		<xs:sequence>
			<xs:element name="note" type="NoteGjeldKortsiktig" minOccurs="0"/>
			<xs:element name="aarets" type="GjeldKortsiktigAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="GjeldKortsiktigFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteGjeldKortsiktig">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18593"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GjeldKortsiktigAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="85"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GjeldKortsiktigFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7183"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumGjeld">
		<xs:sequence>
			<xs:element name="note" type="NoteGjeld" minOccurs="0"/>
			<xs:element name="aarets" type="GjeldAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="GjeldFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteGjeld">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18138"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GjeldAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="1119"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GjeldFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7184"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SumEgenkapitalOgGjeld">
		<xs:sequence>
			<xs:element name="note" type="NoteGjeldEgenkapital" minOccurs="0"/>
			<xs:element name="aarets" type="GjeldEgenkapitalAret"/>
			<xs:element name="fjoraarets" type="GjeldEgenkapitalFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteGjeldEgenkapital">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18122"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GjeldEgenkapitalAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="251"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GjeldEgenkapitalFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="7185"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PosterUtenomBalansen">
		<xs:sequence>
			<xs:element name="garantistillelser" type="Garantistillelser" minOccurs="0"/>
			<xs:element name="panstillelser" type="Pantstillelser" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Garantistillelser">
		<xs:sequence>
			<xs:element name="note" type="NoteGarantistillelse" minOccurs="0"/>
			<xs:element name="aarets" type="GarantistillelseAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="GarantistillelseFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteGarantistillelse">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18594"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GarantistillelseAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="16920"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GarantistillelseFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="16921"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Pantstillelser">
		<xs:sequence>
			<xs:element name="note" type="NotePantstillelser" minOccurs="0"/>
			<xs:element name="aarets" type="PantstillelserAret" minOccurs="0"/>
			<xs:element name="fjoraarets" type="PantstillelserFjoraret" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NotePantstillelser">
		<xs:simpleContent>
			<xs:extension base="Noterestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="18595"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PantstillelserAret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="16922"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PantstillelserFjoraret">
		<xs:simpleContent>
			<xs:extension base="Tallrestriksjon">
				<xs:attribute name="orid" type="xs:string" use="required" fixed="16923"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="HeltallNi">
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TekstTrettiFemTegn">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TekstHundreOgSyttiFemTegn">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="175"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Boolean">
		<xs:restriction base="xs:string">
			<xs:enumeration value="true"/>
			<xs:enumeration value="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tekst">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ArsregnskapValoer">
		<xs:restriction base="xs:string">
			<xs:enumeration value="H"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="M"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Dato">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="TekstSyttiTegn">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TekstFemtiTegn">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Noterestriksjon">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tallrestriksjon">
		<xs:restriction base="xs:integer">
			<xs:maxInclusive value="999999999999999"/>
			<xs:minInclusive value="-999999999999999"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
